@import "tailwindcss";

:root {
  --bg: #020617;
  --card: #0f172a;
  --accent: #C8A84C;
}

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #F8FAFC;
}

section {
  padding: 100px 5%;
}